@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body{
    font-family: "EB Garamond", serif;
    font-weight: 800;
    font-size: medium;
}

h1 {
    color: white;
}

#contenedor {
    width: 65%;
    height: 70%;
    text-align: center;
    /*Estas 3 lineas se encargan de centrar el div vertical y horizontalmente*/
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
        0 10px 10px rgba(0,0,0,0.22);
}

#calculadora{
    background-image: radial-gradient(circle at 50% -20.71%, #98e7ff 0, #3cb5f2 50%, #0085ce 100%);
    width: 50%;
    height: 100%;
    float: left;
}

#detalle{
    background-image: linear-gradient(180deg, #ff87a0 0, #ff7e9f 16.67%, #ff749d 33.33%, #f46a98 50%, #de6192 66.67%, #ca598d 83.33%, #b75288 100%);
    width: 50%;
    height: 100%;
    float: left;
    color: white;  
}

.contenido{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40 px;
}

input{
    background-color: #FFFFFF;               
    width: 70%;
    padding: 10px 15px;
    border: none;
    margin-bottom: 20px;
}

button{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 45px;
    border-radius: 30px;
    background-color: #FF416C;
    border: 0px solid;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 20ms ease-in;
}

button:active{
    transform: scale(0.95);
}

.parrafo{
    font-size: larger;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

#error{
    color: red;
    display: none;
}